.heading {
  text-align: center;
}

.input-container {
  margin-left: 40%;
}

.otp-input {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 50px;
  margin: 5px;
  text-align: center;
  margin-left: auto;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45%;
  width: 100px;
  margin-top: 10px;
}

.accordion {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
.accordion-title {
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: #e0e0e0;
}

.accordion-title[aria-expanded="true"] {
    background-color: #d0d0d0;
}


.accordion-content {
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.accordion p {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.right{
  float: right;
}